src/index.html
src/script.js
*.pyc
python/test3.webp
python/test3.jpg
python/test2.jpg
python/test1.jpg
python/superman.jpg
python/scarlett.jpg
python/public/aclnet/aclnet_des_53.onnx
python/public/aclnet-int8/aclnet_des_53_int8.onnx
python/main.py
python/intel/action-recognition-0001/action-recognition-0001-encoder/FP32/action-recognition-0001-encoder.xml
python/intel/action-recognition-0001/action-recognition-0001-encoder/FP32/action-recognition-0001-encoder.bin
python/index.html
python/image.png
python/image.jpg
python/facenet_keras.h5
python/facenet.onnx
python/face_padded.jpg
python/documentacion.txt
python/captured_face_test_2.jpg
python/captured_face_test.jpg
python/captured_face.jpg
python/cam.py
python/brad.py
python/Archivo.zip
python/ane.jpg
python/alguien.jpg
python/.DS_Store
